@import "breakpoints";

header {
	position: fixed;
	top: 0;
	margin: 0;
	z-index: 10;
	width: 100%;
	height: 56px;
	color: #888888;
	background-color: #ffffff;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.02);

	// sumin 로고
	.logo_wrap {
		position: relative;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 142px;
		height: 100%;
		cursor: pointer;

		.logo {
			display: block;
			width: 100%;
			height: 100%;
			line-height: 52px;
			font-size: 32px;
			font-weight: bold;
			color: #7fdcbe;
			transition: .5s ease;

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

		}
	}

	// 카테고리
	.category_wrap {
		position: relative;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		height: 100%;
		cursor: pointer;

		.category_container {
			margin-left: 5px;

			.category {
				position: relative;
				display: inline-block;
				padding: 0 15px;
				height: 56px;
				line-height: 56px;
				color: #888888;
				font-weight: bold;
				transition: .5s ease;
				cursor: pointer;

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

				.sub_category_wrap {
					position: absolute;
					left: 0;
					width: 100%;
					height: 0px;
					font-size: 14px;
					text-align: center;
					overflow: hidden;
					z-index: 9;
					color: #888888;
					transition: .5s ease;

					.sub_category {
						height: 56px;
						line-height: 56px;
						transition: .35s ease;

						&:hover {
							color: #7fdcbe;
						}
					}
				}

				&.active {
					color: #7fdcbe;
				}

				&:hover {
					color: #7fdcbe;
				}
			}
		}
	}

	// 서브 카테고리 bg
	.category_sub_wrap {
		position: absolute;
		display: block;
		width: 100%;
		height: 0px;
		z-index: 3;
		overflow: hidden;
		background-color: #ffffff;
		border-bottom: 1px solid #eeeeee;
		transition: .5s ease;
	}

	// Login, Lang
	.right_wrap {
		position: absolute;
		display: inline-block;
		right: 0;

		.lang_wrap {
			position: relative;
			display: inline-block;
			width: 72px;
			height: 56px;
			line-height: 56px;
			font-weight: bold;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
	
			.lang {
				display: block;
				width: 100%;
				height: 100%;
				color: #7fdcbe;
				box-sizing: border-box;
				border-left: 1px solid #eeeeee;
				border-right: 1px solid #eeeeee;
				transition: .5s ease;
			}
	
			.lang_select {
				position: absolute;
				left: 0;
				width: 100%;
				height: 0px;
				z-index: 2;
				font-size: 12px;
				font-weight: bold;
				text-align: center;
				color: #888888;
				overflow: hidden;
				box-sizing: border-box;
				border: 1px solid #eeeeee;
				border-top: 1px solid transparent;
				transition: .5s ease;
	
				li {
					height: 50px;
					line-height: 50px;
					box-sizing: border-box;
					border-bottom: 1px solid #eeeeee;
					transition: .35s ease;
	
					&:hover {
						color: #7fdcbe;
					}
				}
			}
	
			&.open {
				.lang_select {
					height: 200px;
				}
			}
			
		}
	
		.user_wrap {
			position: relative;
			display: inline-block;
			color: #7fdcbe;
			padding: 0 20px;
			height: 56px;
			line-height: 56px;
			font-weight: bold;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
		}
	}

	// 모바일
	.mobile_opt_wrap {
		position: absolute;
		display: none;
		right: 0;
		top: 0;
		z-index: 3;
		padding: 18.5px;
		cursor: pointer;
		transition: .5s ease;

		.mobile_btn {
			display: block;
			width: 28px;
			height: 3px;
			margin-bottom: 5px;
			background-color: #7fdcbe;
			transition: transform .5s, opacity .5s;

			&:last-child {
				margin: 0;
			}
		}

		&.on {
			.mobile_btn {
				background-color: #ffffff;
			}

			.one {
				transform: translateY(7px) rotateZ(135deg);
			}	
			
			.two {
				opacity: 0;
			}

			.three {
				transform: translateY(-9px) rotateZ(-135deg);
			}
		}
	}

	// 모바일 메뉴 bg
	.mobile_bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		padding: 0 15px;
		opacity: 0;
		visibility: hidden;
		box-sizing: border-box;
		transition: .5s ease;
		background-color: #7fdcbe;

		.mobile_lang_wrap {
			display: block;
			height: 56px;
			line-height: 56px;

			.mobile_lang {
				display: inline-block;
				width: 50px;
				text-align: center;
				font-size: 16px;
				font-weight: bold;
				cursor: pointer;
				transition: .35s ease;

				&.on {
					color: #ffffff;
				}

				&:hover {
					color: #ffffff;
				}
			}
		}

		.mobile_category_wrap {
			margin-top: calc(1rem + 4vh);

			.mobile_category {
				margin-bottom: calc(.5rem + .05vh);

				a {
					position: relative;
					font-size: calc(1rem + 1.8vh);
					font-weight: bold;
					transition: .5s ease;

					.icon_plus {
						position: absolute;
						top: 57%;
						transform: translate(0%, -50%);
						right: -20px;

						.icon_plus_bar {
							display: block;
							width: 15px;
							height: 3px;
							background-color: #888888;
							transition: background-color .5s, transform .3s;

							&:last-child {
								transform: translateY(-3px) rotate(90deg);
							}
						}
					}
				}

				.mobile_sub_category_wrap {
					position: relative;
					height: 0px;
					overflow: hidden;
					transition: .35s ease;

					li {
						margin-bottom: 5px;

						a {
							font-size: 18px;
							color: #888888;
						}
					}
				}

				&.on {
					a {
						color: #ffffff;

						.icon_plus {
							.icon_plus_bar {
								background-color: #ffffff;
		
								&:last-child {
									transform: translateY(-3px) rotate(0);
								}
							}
						}
					}
					.mobile_sub_category_wrap {
						margin-top: calc(.5rem + .1vh);
    					height: 115px;
					}
				}

				&:hover {
					color: #ffffff;

					a {
						color: #ffffff;

						.icon_plus {
							.icon_plus_bar {
								background-color: #ffffff;
							}
						}
					}

				}
			}
		}
	}

	&.open {

		.sub_category_wrap {
			height: 224px !important;
		}

		.category_sub_wrap {
			border-top: 1px solid #eeeeee;
			height: 224px;
		}

	}

	&.on {
		
		.logo {
			color: #ffffff !important;
		}

		.mobile_bg {
			opacity: 1;
			visibility: visible;
		}
	}

	// 768px 미만
	@include responsive(tablet) {
		
		.category_wrap {
			display: none;
		}

		.right_wrap {
			display: none;
		}

		.mobile_opt_wrap {
			display: inline-block;
		}

	}

}